* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
#navbar, footer {
    background-color: gray;
    height: 10vh;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
select {
    width: 25%;
    text-transform: capitalize;
    text-align: center;
}
main {
    height: 80vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container1 {
    display: grid;
    grid-template-columns:  repeat(2, minmax(0, 1fr));
    grid-gap: 2.5%;
    height: 50vh;
    width: 100vw;
    padding: 2.5%;
}
#container2 {
    display: none;
    grid-template-columns:  repeat(4, minmax(0, 1fr));
    grid-gap: 2.5%;
    width: 100vw;
    height: 30vh;
    padding: 2.5%;
}
#container3 {
    display: none;
    grid-template-columns:  repeat(4, minmax(0, 1fr));
    grid-gap: 1.5%;
    width: 100vw;
    height: 50vh;
    padding: 2.5%;
}
.square {
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
#square1{
    background-color: green;
}
#square2{
    background-color: red;

}
#square3{
    background-color: yellow;
}
#square4{
    background-color: blue;
}
#start {
    width: 25%;
    height: 45%;
    text-transform: capitalize;
    background-color: rgb(51, 253, 0);
    border-radius: 45%;
    border: solid 2px green;
}
@media only screen and (min-width:667px){

    #container1 {
        width: 50vw;
        height: 70vh;
    }
    #container2 {
        width: 70vw;
        height: 70vh;
    }
    #container3 {
        width: 70vw;
        height: 80vh;
    }
    #start {
        width: 15vw;
        height: 7.5vh;
    }
    
}
@media only screen and (min-width:810px){

    #container1 {
        width: 85vw;
        height: 70vh;
    }
    #container2 {
        width: 100vw;
        height: 40vh;
    }
    #container3 {
        width: 90vw;
        height: 80vh;
    }

    #start {
        width: 15vw;
        height: 7.5vh;
        font-size: xx-large;
        font-family: cursive;
    }


}